= form_tag add_product_order_path(@order.id || '0') do
  .row
    .col-md-12
      .panel
        .panel-header
          %h2
            Dodawanie produktu
        .panel-body
          %form.form-inline{:role=>"form"}
            .form-group
              = label_tag :product_id
              = select_tag 'order_item[product_id]', options_from_collection_for_select(Product.all, :id, :name), class: "form-control", style:"padding-bottom:10px"
            .form-group
              %button.btn.btn-primary Dodaj produkt

                

            

=form_for [@order], :class => 'form-horizontal' do |f|
  .row
    .col-md-12
      .panel
        .panel-header
          %h2
            -if @order.new_record?
              Tworzenie zamówienia
            -else
              Edytowanie zamówienia
        .panel-body
          %table.table.table-striped.table-bordered.bootstrap-datatable.datatable
            %thead
              %tr
                %th Nazwa produktu
                %th Ilość
                %th Cena
                %th Termin
                %th Uwagi
                %th Akcje
            %tbody
              = f.fields_for :order_items do |k|
                %tr
                  - unless k.object.new_record?
                    %td= k.object.product.name
                    %td.col-md-2= k.text_field :quantity, :class => 'form-control', style:"font-size: 12px;"
                    %td.col-md-2= k.text_field :price, :class => 'form-control', style:"font-size: 12px;"
                    %td= k.object.order.deadline_at.strftime("%d-%m-%Y %H:%M") unless k.object.order.deadline_at.nil?
                    %td= k.object.order.description
                    %td= link_to "Usuń",destroy_product_orders_path(k.object.id), method: "delete", data: { confirm: 'Czy naprawdę chcesz usunąć?'}, class: "btn btn-danger"
      .panel
        .panel-body{style:"padding-left:15px"}
          %form.form-horizontal
            .form-group 
              = f.label :user,"Klient", :class => 'control-label'
              = f.collection_select :user_id, User.all, :id, :name, {}, :class => 'form-control'
            .form-group
              = f.label :deadline_at, "Termin", :class => 'control-label'
              =f.text_field :deadline_at, :class => 'form-control', :id=>'datetimepicker'
            .form-group
              = f.label :description, "Uwagi do zamówienia", :class => 'control-label'
              = f.text_area :description, :class => 'form-control', size:"8x5"
            .form-actions
              =f.button "Zapisz dane", :class=>"btn btn-primary", :type=>'submit' 
            

:javascript
  $(document).ready(function(){
    $('#datetimepicker').datetimepicker({
      language: 'pl'
    });
  });
    


