= form_tag add_product_order_path(@order.id || '0') do
  .row
    .col-md-12
      .panel
        .panel-header
          %h3
            Dodawanie produktu
        .panel-body
          %form.form-inline{:role=>"form"}
            .form-group.col-md-7
              .col-md-2= label_tag :product_id
              .col-md-5= select_tag 'order_item[product_id]', options_from_collection_for_select(Product.all, :id, :name), class: "form-control", style:"padding-bottom:5px"
            .form-group.col-md-7.col-md-offset-2
              %button.btn.btn-primary Dodaj produkt

                

            

=form_for [@order], :class => 'form-horizontal' do |f|
  .row
    .col-md-12
      .panel
        .panel-header
          %h3
            -if @order.new_record?
              Tworzenie zamówienia
            -else
              Edytowanie zamówienia
        .panel-body
          %table.table.table-striped.table-bordered.bootstrap-datatable.datatable
            %thead
              %tr
                %th Nazwa produktu
                %th Ilość
                %th Cena
                %th Termin
                %th Uwagi
                %th Akcje
            %tbody
              = f.fields_for :order_items do |k|
                %tr
                  - unless k.object.new_record?
                    %td= k.object.product.name
                    %td.col-md-2= k.text_field :quantity, :class => 'form-control', style:"font-size: 12px;"
                    %td.col-md-2= k.text_field :price, :class => 'form-control', style:"font-size: 12px;"
                    %td= k.object.order.deadline_at.strftime("%d-%m-%Y %H:%M") unless k.object.order.deadline_at.nil?
                    %td= k.object.order.description
                    %td= link_to "Usuń",destroy_product_orders_path(k.object.id), method: "delete", data: { confirm: 'Czy naprawdę chcesz usunąć?'}, class: "btn btn-danger"
      .panel
        .panel-body{style:"padding-left:15px;"}
          .row
            .col-md-12
              %form.form-horizontal
                .form-group.col-md-7 
                  = f.label :user,"Klient:", :class => 'col-md-2 control-label'
                  .col-md-5= f.collection_select :user_id, User.all, :id, :name, {}, :class => 'form-control'
                .form-group.col-md-7
                  = f.label :deadline_at, "Termin:", :class => 'col-md-2 control-label'
                  .col-md-5= f.text_field :deadline_at, :class => 'form-control', :id=>'datetimepicker'
                / .form-group.col-md-7
                /   = f.label :vat, "VAT:", :class => 'col-md-2 control-label'
                /   .col-sm-5= f.text_field :vat, :class => 'form-control'
                /   ="%"
                .form-group.col-md-7
                  = f.label :description, "Uwagi do zamówienia:", :class => 'col-md-2 control-label'
                  .col-md-5= f.text_area :description, :class => 'form-control', size:"8x5"
                .form-actions.col-md-7.col-md-offset-2
                  =f.button "Zapisz dane", :class=>"btn btn-primary", :type=>'submit'

            

:javascript
  $(document).ready(function(){
    $('#datetimepicker').datetimepicker({
      language: 'pl'
    });
  });
    


