= wicked_pdf_stylesheet_link_tag "pdf"
.row{:style=>"padding-top: 50px"}            
  .col-md-12{:style=>"padding:0"}
    .col-md-3
      ="Termin zamówienia:"
    .col-md-6
      = @order.deadline_at.strftime("%d-%m-%Y") unless @order.deadline_at.nil?
  .col-md-12{:style=>"padding:15px 0 15px 0"}
    .col-md-3
      ="Uwagi zamówienia"
    .col-md-6
      = @order.description
  .col-md-12{:style=>"padding:15px 0 15px 0"}
    .col-md-3
      ="Klient"
    .col-md-6
      = @order.user.name unless @order.user.nil?

.row
  .col-md-12
    .panel
      .panel-header
        %h3
          Zamówienie
      .panel-body
        %table.table.table-striped.table-bordered.bootstrap-datatable.datatable
          %thead
            %tr
              %th Numer 
              %th Nazwa produktu
              %th Ilość
          %tbody
            -@order.order_items.each do |k|
              %tr
                %td.col-xs-1= k.product_id
                %td.col-md-3= k.product.name
                %td.col-md-1= k.quantity
                %td.col-xs-1= k.price

   
    
          