%p#notice= notice

.panel
  .panel-header
    Szczegóły zamówienia
  .panel-body
    %p
      ID:
      ="#{@order.id}- #{@order.created_at.strftime("%d/%m/%Y")}"
    %p  
      Klient:
      =@order.user.name unless @order.user.nil?
    %p
      Termin:
      =@order.deadline_at.strftime("%d/%m/%Y")
    %p
      Status:
      =@order.status
    %p
      Produkty:
      =render 'table'
    %p  
      .btn.btn-primary= link_to 'Edit', edit_order_path(@order)
      .btn.btn-primary= link_to 'Back', orders_path

