/ = wicked_pdf_stylesheet_link_tag "pdf"
/ .row{:style=>"padding-top: 50px; padding-left:10px"}
/   .col-md-12
/     .col-md-3
/       ="Klient"
/     .col-md-6
/       = @order.user.name unless @order.user.nil?
/   .col-md-12{:style=>"margin-top: 10px"}
/     .col-md-3
/       ="Termin zamówienia:"
/     .col-md-6
/       = @order.deadline_at.strftime("%d-%m-%Y") unless @order.deadline_at.nil?
/   .col-md-12{:style=>"margin-top:10px"}
/     .col-md-3
/       ="Uwagi zamówienia"
/     .col-md-6
/       = @order.description
 
/ .row
/   .col-md-12
/     .panel
/       .panel-header{style:"padding-left:10px"}
/         %h3
/           Zamówienie
/       .panel-body
/         %table.table.table-striped.table-bordered.bootstrap-datatable.datatable
/           %thead
/             %tr
/               %th Numer 
/               %th Nazwa produktu
/               %th Ilość
/               %th Cena
/           %tbody
/             -@order.order_items.each do |k|
/               %tr
/                 %td.col-xs-1= k.product_id
/                 %td.col-md-3= k.product.name
/                 %td.col-md-1= k.quantity
/                 %td.col-xs-1= k.price

   
= wicked_pdf_stylesheet_link_tag "pdf"

.row.first-block
  .col-xs-12
    .col-xs-6
      %div
        SPRZEDAWCA: ADEK
      %div
        ADRES: TESTOWA123 1, 30-678, WROCŁAW
      %div
        NIP: 123456789
      %div
        NUMER TELEFONU: 12345698
    .col-xs-6
      %div
        = "NABYWCA: #{@order.user.name}"  unless @order.user.nil?
      %div
        = "Adres: #{}" unless @order.user.nil?
      %div
        = "NIP: #{}" unless @order.user.nil?

.row.second-block
  .col-xs-12
    .col-xs-6
      %div
        ="Data wystawienia: #{DateTime.now.strftime("%d/%m/%Y %H:%M")}"
      %div
        ="Data dostawy: #{@order.deadline_at.strftime("%d/%m/%Y %H:%M")}"
      %div
        ="Termin płatności: #{@order.deadline_at.strftime("%d/%m/%Y %H:%M")}"
    .col-sx-6
      %div
        ="Sposób płatności: Przelew"
      %div
        ="Bank: BZWBK"
      %div
        ="Numer konta: 123456789098765321" 


.row
  .col-xs-12
    .panel
      .panel-header{:style=>"padding-left:15px"}
        %h3
          Zamówienie
      .panel-body
        %table.table.table-striped.table-bordered.bootstrap-datatable.datatable
          %thead
            %tr
              %th Numer 
              %th Nazwa produktu
              %th Ilość
              %th Cena netto
              %th Wartość netto
              %th Stawka VAT
              %th Kwota VAT
              %th Wartość brutto 
          %tbody
            -@order.order_items.each do |k|
              %tr
                %td.col-xs-1= k.product_id
                %td.col-xs-3= k.product.name
                %td.col-xs-1= k.quantity
                %td.col-xs-1= k.price
                %td.col-xs-1= k.price * k.quantity
                %td.col-xs-1= k.product.vat
                %td.col-xs-1= value_vat(k.price, k.vat)
                %td.col-xs-1= price_with_vat(k.price, k.vat) 
