= wicked_pdf_stylesheet_link_tag "pdf"

.row.first-block
  .col-xs-12
    .col-xs-6
      %div
        SPRZEDAWCA: ADEK
      %div
        ADRES: TESTOWA123 1, 30-678, WROCŁAW
      %div
        NIP: 123456789
      %div
        NUMER TELEFONU: 12345698
    .col-xs-6
      %div
        = "NABYWCA: #{@order.user.name}"  unless @order.user.nil?
      %div
        = "Adres: #{}" unless @order.user.nil?
      %div
        = "NIP: #{}" unless @order.user.nil?

.row.second-block
  .col-xs-12
    .col-xs-6
      %div
        ="Data wystawienia: #{DateTime.now.strftime("%d/%m/%Y %H:%M")}"
      %div
        ="Data dostawy: #{@order.deadline_at.strftime("%d/%m/%Y %H:%M")}"
      %div
        ="Termin płatności: #{@order.deadline_at.strftime("%d/%m/%Y %H:%M")}"
    .col-sx-6
      %div
        ="Sposób płatności: Przelew"
      %div
        ="Bank: BZWBK"
      %div
        ="Numer konta: 123456789098765321" 


.row
  .col-xs-12
    .panel
      .panel-header{:style=>"padding-left:15px"}
        %h3
          Zamówienie
      .panel-body
        =render 'table'