%p#notice= notice

.panel
  .panel-header
    Szczegóły zamówienia
  .panel-body
    %p
      ID:
      ="#{@order.id}- #{@order.created_at.strftime("%d/%m/%Y")}"
    %p  
      Klient:
      =@order.user.name unless @order.user.nil?
    %p
      Termin:
      =@order.deadline_at.strftime("%d/%m/%Y")
    %p
      Status:
      =@order.status
    %p
      Produkty:
      %table.table.table-striped.table-bordered.bootstrap-datatable.datatable
        %thead
          %tr
            %th Nazwa
            %th Ilość
            %th Cena
        %tbody
          -@order.order_items.each do |p|
            %tr
              %td= p.product.name
              %td= p.quantity
              %td= p.price
    %p
      Cena:
      =@order.sum_price
    %p  
      = link_to 'Edit', edit_order_path(@order)
      \|
      = link_to 'Back', orders_path

