.btable.panel
  .panel-header
    ="Zamówienia"
  .panel-body
    .scroller
      %table.table.table-striped.table-bordered.bootstrap-datatable.datatable#table-orders
        %thead
          %tr
            %th Klient
            %th Termin
            %th Status
            %th Cena
            %th
            %th
            %th
            %th
        %tbody
          - @orders.each do |order|
            %tr
              %td= order.user.name unless order.user.nil?
              %td= order.deadline_at
              %td= order.status
              %td= order.sum_price_net 
              %td= link_to 'Faktura', order_path(order,format: "pdf"), class:"btn btn-sm btn-primary"
              %td= link_to 'Show', order, class:"btn btn-sm btn-primary"
              %td= link_to 'Edit', edit_order_path(order), class:"btn btn-sm btn-primary"
              %td= link_to 'Destroy', order, :method => :delete, :data => { :confirm => 'Are you sure?' }, class:"btn btn-sm btn-danger"

:javascript
  $('#table-orders').dataTable();