.btable.panel
  .panel-header
    ="Listing products"
  .panel-body
    .scroller
      %table.table.table-striped.table-bordered.bootstrap-datatable.datatable#table-product
        %thead
          %tr
            %th Product key
            %th Name
            %th Price
            %th
            %th
            %th
        %tbody
          - @products.each do |product|
            %tr
              %td= product.product_key
              %td= product.name
              %td= product.price
              %td= link_to 'Show', product
              %td= link_to 'Edit', edit_product_path(product)
              %td= link_to 'Destroy', product, :method => :delete, :data => { :confirm => 'Are you sure?' }



:javascript
  $('#table-product').dataTable();