.btable.panel
  .panel-header
    ="Produkty"
  .panel-body
    .scroller
      %table.table.table-striped.table-bordered.bootstrap-datatable.datatable#table-products
        %thead
          %tr
            %th Product key
            %th Name
            %th Price
            %th
            %th
            %th
        %tbody
          - @products.each do |product|
            %tr
              %td= product.product_key
              %td= product.name
              %td= product.price
              %td= link_to 'Show', product, class:"btn btn-sm btn-primary"
              %td= link_to 'Edit', edit_product_path(product), class:"btn btn-sm btn-primary"
              %td= link_to 'Destroy', product, :method => :delete, :data => { :confirm => 'Are you sure?' }, class:"btn btn-sm btn-danger"



:javascript
  $('#table-products').dataTable();