.btable.panel
  .panel-header
    ="Listing users"
  .panel-body
    .scroller
      %table.table.table-striped.table-bordered.bootstrap-datatable.datatable#table-user
        %thead
          %tr
            %th Name
            %th Firm
            %th
            %th
            %th
        %tbody
          - @users.each do |user|
            %tr
              %td= user.first_name
              %td= user.firm
              %td= link_to 'Show', user
              %td= link_to 'Edit', edit_user_path(user)
              %td= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }



:javascript
  $('#table-user').dataTable();