%p#notice= notice

.panel
  .panel-header
    Szczegóły produktu
  .panel-body
    %p
      %b Product key:
      = @product.product_key
    %p
      %b Name:
      = @product.name
    %p
      %b Price:
      = @product.price

    %p  
      .btn.btn-primary= link_to 'Edit', edit_product_path(@product)
      .btn.btn-primary= link_to 'Back', products_path