%p#notice= notice

%p
  %b Product:
  = @warehouse.product_id
%p
  %b Quantity:
  = @warehouse.quantity

.btn.btn-primary= link_to 'Edit', edit_warehouse_path(@warehouse)
.btn.btn-primary= link_to 'Back', warehouses_path
